* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --brand-color: #000080;
}
body {
  background-color: rgb(241, 241, 241);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
  background-color: white;
}
section {
  padding: 50px 20px;
}
button {
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid black;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.select-customer-form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
  select {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
  }
}
.select-customer-form p,
.input-particulars-form p {
  margin-bottom: 10px;
}
.select-customer-form,
.input-particulars-form {
  width: 100%;
}
.input-particulars-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  div {
    width: 100%;
    div {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      input {
        &:first-child {
          width: 70%;
        }
        &:nth-child(2) {
          width: 20%;
        }
        padding: 10px;
        border-radius: 3px;
        border: 1px solid black;
      }
      button {
        font-size: 20px;
        padding: 6px 15px;
      }
    }
  }
}

.invoice {
  width: 100%;
  height: 900px;
  border: 1px solid;
  .payeeDetails {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
    .payeeInfo {
      width: 60%;
      max-width: 60%;
    }
  }
  .payerDetails {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
    .payerInfo {
      width: 60%;
      max-width: 60%;
      & p:first-child {
        width: 100%;
        font-weight: bold;
      }
    }
    .invoiceDates {
      width: 40%;
      max-width: 40%;
      div {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
      }
    }
  }
  .invoiceMain {
    width: 100%;
    margin-bottom: 20px;
    table.invoiceTable {
      width: 100%;
      tr {
        td:first-child {
          width: 78%;
        }
        th,
        td {
          border: 1px solid black;
          padding: 5px;
          height: 30px !important;
        }
        th {
          text-align: left;
        }
        &:first-child {
          background-color: var(--brand-color) !important;
          color: white;
        }
        &:nth-child(odd) {
          background-color: #dddddd;
        }
        &:last-child {
          background-color: var(--brand-color) !important;
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}
.invoiceGreetings {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: left;
  img {
    max-width: 100px;
  }
}

.invoiceBtns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
